<div style="display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

min-height: 100vh;">
    <div class="center">
        <form>
            <h3>Update account</h3>
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" value="ADMIN">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" VALUE="ADMIN">
            </div>
            <div class="form-check">
              
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-success" style="float:right" routerLink="/dashboard">Back to dashboard</button>
          </form>
    </div>
</div>